<p><mat-icon class="icon" >work</mat-icon>Senior Software Developer</p>
<p><mat-icon class="icon" >business_center</mat-icon> Altran</p>
<p><mat-icon class="icon" >contact_phone</mat-icon> {{mobile}}</p>
<p><mat-icon class="icon" >email</mat-icon> {{email}}</p>
<p><mat-icon class="icon" >location_on</mat-icon> {{location}}</p>
<p><mat-icon class="icon" svgIcon="linkedin" ></mat-icon> {{linkedin}}</p>
<p><mat-icon class="icon">link</mat-icon>{{github}}</p>
<h2>Summary</h2>
<div class="summary">
<p>4.5 years of professional experience as a Full Stack Developer</p>
<mat-divider></mat-divider><br>
<p>Proficient level experience in MVC architecture, creating highly usable solutions focused on user experience</p>
<mat-divider></mat-divider><br>
<p>Proven technical and analytical skills for creating systems, database development, testing and coding modules to meet the requirements</p>
<mat-divider></mat-divider><br>
<p>Proven to a proactive team member and an efficient team player.</p>
<mat-divider></mat-divider><br>
</div>
<h2>Hobbies</h2>
<div class="summary">
    <p>Travelling, Dancing, Working out</p>
    <mat-divider></mat-divider><br>
</div>
<h2>Languages</h2>
<div class="summary">
    <p>Hindi, English</p>
    <mat-divider></mat-divider><br>
</div>
<h2>Hobbies</h2>
<div class="summary">
    <p>Travelling, Dancing, Working out</p>
    <mat-divider></mat-divider><br>
</div>
<h2>Nationality</h2>
<div class="summary">
    <p>Indian</p>
    <mat-divider></mat-divider><br>
</div>


