    <mat-card class="resume">
        <mat-toolbar style="height: 30px;" color="primary">
        </mat-toolbar>
        <div class="contact-details">
            <mat-card>
                <mat-card-title>Shubhangi Gupta</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <h1 style="font-weight: medium;">Full Stack Developer</h1>
                <app-contact-details></app-contact-details>
            </mat-card>
        </div>
        <div class="resume-summary">
            <div class="technical-skills">
                <app-technical-skills></app-technical-skills>
            </div>
            <div class="framework-and-tools"> 
                <app-framework-tools></app-framework-tools>    
            </div>
            <br>
            <div class="professional">
                <app-professional-experience></app-professional-experience>
            </div>
            <div class="education">
                <app-education></app-education>
            </div>
        </div>
        <app-footer></app-footer>
    </mat-card>